<%= render 'welcome/header' %> <br><br><br><br><br>
<h2 class="table-heading">Third Party Providers List</h2>

<div class="container">
	<%= link_to 'Edit Taxes', taxes_path() %> </br>
	<br>

	<table id="genExpenses" class="display responsive no-wrap">
		<thead>
			<tr>
				<th> </th>
				<th>Name</th>	
				<th>Address</th>
				<th>Contact No</th>
				<th>Bank Name</th>
				<th>Bank Branch</th>
				<th>Basic Rent</th>
				<th>Service Tax</th>
				<th>Total</th>
				<th>TDS</th>
				<th>Inspection Charges</th>
				<th>Amount to be forwarded</th>
			</tr>
		</thead>

		<tbody>
			<% 
	bank=""
					i = 0
			@bills = BillTable.all
			@bills.each do |bill|
				@quotation  = QuotationDetail.find(bill.quotation_id)
				@gen_set = ClientGenSet.find_by(quotation_detail_id: bill.quotation_id)
				if not @gen_set.third_party_gens_id.blank?
					@tp = ThirdPartyGen.find(@gen_set.third_party_gens_id)
					@tp.third_party_provider.name
				else
					next
				end
i +=1
				%>
			<tr>
				<td><%= i %></td>

				<%
								
#							 billDate = Date.parse(bill.date.to_s)
tds = ((bill.total.to_d / 100) * bill.tds.to_d).round(1)
			%>

			<td><%= @tp.third_party_provider.name %></td>
			<td><%= @tp.third_party_provider.address%></td>
			<td><%= @tp.third_party_provider.contactNo %></td>
			<td><%= bill.bank_name %></td>
			<td><%= bill.bank_branch %></td>
			<td><%= bill.rate %></td>
			<td><%= bill.service_tax%></td>
			<td><%= bill.total.round(1) %></td>
			<td><%= tds %></td>
			<td><%=  %></td>
			<td><%= (bill.total - tds - bill.total_exp).round(1)%></td>
		</tr>
		<%
			end
				%>
</tbody>
</table>
</div>

<script>
	$(document).ready(function() {
		$('#genExpenses').dataTable({
			responsive: true
		});
	} );
</script>
