<!-- CSS can be found in quotation.scss.css -->
<section class="quotationSection">
    <%= render "welcome/header"  %>
    <div class="quotationForm">
		<h2 class="fillForm">Client Details</h2>

<div class="container">
	<%= link_to 'Edit Banks', banks_path() %> </br>
	<br> <br> <br>
      <%= form_for(@client_detail) do |f| %>

  <% if @client_detail.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @client_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <label class="ll">Designation</label>
  <%= f.text_field :designation, autofocus: true, :required => true, :class => 'nameOfPerson', :placeholder => 'Designation',:title => 'Name of Person' %>
  <br>

  <label class="ll">Bank Name</label>
  <%= f.collection_select :bank_id, Bank.all, :id, :name, prompt: true, autofocus: true, :required => true, :class => 'dropDown new-dropdown' %>
        <label class="ll">Bank Branch Name</label><%= f.text_field :bank_branch, :required => true, :class => 'nameOfPerson', :placeholder => 'Bank Branch name',:title => 'Bank Branch Name' %><br>
  <label class="ll">My Bank Account To be Used</label>
  <%= f.collection_select :account_id, Account.all, :id, :name, prompt: true, autofocus: true, :required => true, :class => 'dropDown new-dropdown' %>
        <label class="ll">Address</label><%= f.text_field :address, autofocus: true, :required => true, :class => 'address', :placeholder => 'Address', :title => 'Address' %><br>
        <label class="ll">City</label><%= f.text_field :district, autofocus: true, :required => true, :class => 'district', :placeholder => 'District / City', :title => 'District / City' %><br>
        <label class="ll">Contact No.</label><%= f.text_field :contactNo, autofocus: true, :required => true, :class => 'contactNumber', :placeholder => 'Contact Number', :title => 'Contact Number' %><br>
        <label class="ll">Email</label> <%= f.email_field :emailID, autofocus: true, :required => true, :class => 'eMail', :placeholder => 'E-mail', :title => 'Email Id of Sender' %><br>
		<%= f.collection_select :sender_details_id, SenderDetail.all, :id, :name, prompt: true, autofocus: true, :required => true, :class => 'dropDown new-dropdown' %> <br />
        <p style="text-align: center; padding-bottom: 40px;"><%= f.submit :class => 'quotation_submit', :value => 'Submit', :disabled => false, :disable_with => "Please wait..." %></p><br>
      <% end %>
    </div> 
</section>

