<header class="header" id="header" role="banner" style="display: block;">
    <nav class="navbar", role="navigation">
        <ul class="unlist1">	
        <%= link_to root_path do %>
                <li >Home</li>	
        <% end %>
        <%= link_to dashboard_path do %>
                <li >Dashboard</li>
        <% end %>
	<%= link_to profitloss_path do %>
                <li >Profit Loss Sheet</li>
        <% end %>
	<%= link_to partylist_path do %>
                <li >Third Party Details</li>
        <% end %>
	<%= link_to accounts_path do %>
                <li >My Bank Accounts</li>
        <% end %>
        <% if user_signed_in? %>
        <%= link_to logout_path do %>
                <li> Log Out</li>
        <% end %>
            <% else %>       
                <li><%= link_to "Login", login_path %></li>
            <% end %>
        </ul>
    <!--/nav-->  
</header>
