<%= form_for(@gen_avail) do |f| %>
  <% if @gen_avail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gen_avail.errors.count, "error") %> prohibited this gen_avail from being saved:</h2>

      <ul>
      <% @gen_avail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<br><br><br>Generator Type: <%= @detail.genType %><br><br>
  Generator Name(ID) <%= f.text_field :genID, :readonly => true %><br />
	Available <%= f.check_box :available %><br><br>

    <%= f.submit :class => "quotation_submit", :value => "Update" %>
<% end %>
