<%= render "welcome/header" %> <br><br><br><br><br>
<h2 class="genAvailHeading">Available Generators</h2><br> <br>

<%= form_for(@gen_avail) do |f| %>
  <% if @gen_avail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gen_avail.errors.count, "error") %> prohibited this gen_avail from being saved:</h2>
        
      <ul>
      <% @gen_avail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

  <p style="text-align:center; "><%= f.collection_select :gen_detail_id, GenDetail.all, :id, :genType, prompt: true, :class => 'dropDown' %></p><br />
  <p style="text-align:center;"> Available: <%= f.check_box :available %></p><br />
  <p style="text-align:center; padding-bottom: 40px;"><%= submit_tag "Submit", :id => "submit", :name => "submit", :class => "form_submit", :disabled => false, :disable_with => "Please wait..." %>
  </p>
  </div>
<% end %>
