@import "layout";

.header {
    width: 100%;
    height:50px;
    position: absolute;
    background: $mainblue;
    .navbar {
/*        width: 100%;
        max-width: 1100px;*/
        margin-top: auto;
        position: relative; 
        float: left; 
        left: 50%;
	    height:50px;
        .unlist1 {
            position: relative;
            left: -50%;
/*          margin-left:45%;*/
            li {
                float: left;
                padding: 0px 15px 0px 15px;
                text-align: center;
                line-height: 50px;
                font-size: 18px;
                font-weight: 400;
                cursor: pointer;
                color: $white;
                @include breakpoint(alpha){width:28%; line-height: 40px; font-size: 1.2rem;};
                &:hover{
                    background: #0877A7;
                }
            }	
	        li a{
		        color:$white;
		        @include transition(border-color 1s ease);
/*		        &:hover{border-bottom: 1px solid $offwhite;}*/
	        }
        }
    }
}

.quotationHeader {
    @extend .header;
}

