<%= render 'welcome/header' %> <br><br><br><br><br>
<section class= "quotationSection">
<h2 class="genAvailHeading">Add Transaction</h2>	
<div class="container quotationForm">
<%= form_for(@transaction) do |f| %>
	<label class="ll">Amount</label><%= f.text_field :amount, autofocus:true, :required => true, :class => 'nameOfPerson',:title => 'Amount Paid'%>
<label class="ll">Date</label><%= f.text_field :date, :class => 'nameOfPerson', :title => 'date' %>
	<%= f.hidden_field :bill_id,:value => params[:billId] %> <br> <br>
          <p style="text-align: center;"><%= f.submit :class => 'quotation_submit', :value => 'Save', :disabled => false, :disable_with => "Please wait..." %></p><br>
	  <% end %>
  </div>

  <script type="text/javascript">
	    $(document).ready(function(){
		    $('#transaction_date').datepicker();
			  });
			  </script>
<div>
</section>
