<%= render 'welcome/header' %> <br><br><br><br><br>

<p id="notice"><%= params[:notice] %></p>

<h2 class="table-heading">Listing Accounts</h2>
<br>
<div class="container">
	<%= link_to 'Add Account', new_account_path() %> </br>
<br>
<br>
<div class="container">
<table id="banks" class="display responsive no-wrap" >
  <thead>
    <tr>
      <th>Bank Name</th>
      <th>Account Number</th>
      <th>IFSC</th>
      <th>MICR</th>
	  <!--      <th>Edit ?</th>-->
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |acc| %>
      <tr>
        <td><%= acc.name %></td>
        <td><%= acc.number %></td>
        <td><%= acc.ifsc %></td>
        <td><%= acc.micr %></td>
		<!--        <td><%= link_to 'Edit', edit_account_path(acc) %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<script>
    $(document).ready(function() {
    $('#banks').dataTable({
      responsive: true
    });
  } );
</script>
